/* Resetting the default styles **********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevent dragging for images **********/
img {
    -webkit-user-drag: none;
}

/* Prevent text selection **********/
* {
    user-select: none;
}